@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Red Rose', 'Poppins', sans-serif; 
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh; 
    background: conic-gradient(from 130deg at -0.99% 80.26%, #00326C 262.9855942726135deg, #0B162D 319.3100953102112deg);
    overflow-x: hidden; 
}

p {
    font-family: 'Poppins', sans-serif;
}

nav{
    width: 100%;
    height: 10vh;
    position: sticky;
}

.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    opacity: 0;
    animation: fadeIn 1.5s ease-in forwards;
}

.logo span{
    color: #648add;
    text-shadow: 0 0 10px #3F5FA2;
}

.hamburg,
.cancel{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    display: none;
    font-size: clamp(2.5rem, 0.5rem + 5vw, 3rem);
}

.nav-container .links{
    display: flex;
    opacity: 0;
    animation: fadeIn 1.5s ease-in forwards 0.5s;
}

.nav-container .links a{
    position: relative;
    font-size: 1.2rem;
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}

.nav-container .links a::before{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #648add;
    transition: 0.2s linear;
}

.nav-container .links a:hover::before{
    width: 100%;
}

.nav-container .links a:hover{
    color: #3F5FA2;
}

.dropdown{
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(4px) brightness(40%);
    box-shadow:  0 0 20px black;
    transition: 0.2s linear;
}

.dropdown .links a{
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: 0.2s linear;
}

.dropdown .links a:hover{
    background-color: #3F5FA2;
}

.about-section {
    width: 100%;
    min-height: 90vh;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    animation: fadeIn 1s ease-in forwards 1s;
    background: conic-gradient(from 130deg at -0.99% 80.26%, #00326C 262.9855942726135deg, #0B162D 319.3100953102112deg);
}

.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-container .left-about{
    color: white;
    width: 25%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.left-about .image{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 50px #3F5FA2;
    animation: zoomIn 1.5s ease-in-out forwards;
}

.left-about .image img{
    width: 100%;
}

.left-about .image:hover{
    animation: animate 1.5s ease-in-out infinite;
}

.left-about .skill{
    display: flex;
    gap: 30px;
    flex-direction: row;
    background: transparent;
    width: 400px;
    height: 150px;
}

/* Responsive adjustments for about section */
@media (max-width: 992px) {
    .main-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-container .left-about {
        width: 50%;
    }

    .main-container .content {
        width: 90%;
        text-align: center;
    }
}

/* Responsive for smaller devices */
@media (max-width: 768px) {
    .content h1 {
        font-size: 1.5rem;
    }

    .content p {
        font-size: 1rem;
    }
}


.skill .skill-set{
    position: relative;
    z-index: 0;
    text-align: center;
}

.skill-set h3 {
    margin-bottom: 5px; 
}

.skill-set .button-to-webdev{
    position: absolute; 
    top: 25px; 
    right: 0px; 
    z-index: 1;
    border-radius: 22.594px;
    background: linear-gradient(180deg, #FF5F7E 0%, #EFC78D 100%);
    display: flex;
    width: 45.188px;
    height: 45.188px;
    transform: rotate(-1.562deg);
    padding: 5.164px 4.519px;
    align-items: center;
    gap: 6.455px;
    flex-shrink: 0;
}
.skill-set .button-to-webdev:hover {
    transform: scale(1.2) rotate(-1.562deg); 
}

.skill-set .detail-skill{
    position: absolute;
    z-index: 2;
    top: 40px; 
    left: 10px; 
}

.skill-set .button-to-uiux{
    position: absolute; 
    top: 25px; 
    right: 0px; 
    z-index: 1;
    border-radius: 22.594px;
    background: linear-gradient(180deg, #FF5F7E 0%, #EFC78D 100%);
    display: flex;
    width: 45.188px;
    height: 45.188px;
    transform: rotate(-1.562deg);
    padding: 5.164px 4.519px;
    align-items: center;
    gap: 6.455px;
    flex-shrink: 0;
}

.skill-set .button-to-uiux:hover {
    transform: scale(1.2) rotate(-1.562deg); 
}

/* Responsive for skill section */
@media (max-width: 600px) {
    .skill-set .detail-skill {
        grid-template-columns: repeat(2, 1fr);
    }

    .left-about {
        width: 90%;
    }
}

@keyframes animate {
    0%{
        scale: 1;
    }
    
    50%{
        scale: 1.05;
    }
    
    100%{
        scale: 1;
    }
}


.main-container .content{
    color: white;
    width: 40%;
    min-height: 100px;
}

.content h1{
    font-size: clamp(1rem, 1rem + 5vw, 1.8rem);
    opacity: 0;
    animation: slideInLeft 1.5s ease-in forwards;
}

.content h1 span{
    color: #648add;
    text-shadow: 0  0 10px #3F5FA2;
}

.content .typewriter{
    font-size: clamp(1rem, 1rem + 5vw, 2.5rem);
    font-weight: 600;
    opacity: 0;
    animation: slideInRight 1.5s ease-in forwards 0.5s;
}

.content .typewriter-text{
    color: #3F5FA2;
    text-shadow: 0 0 10px #3F5FA2;
}

.content p{
    font-size: clamp(0.4rem , 0.2rem + 9vw, 1rem);
    margin: 10px 0;
    opacity: 0;
    animation: fadeInUp 1s ease-in forwards 1s;
}

.social-links i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid #3F5FA2;
    border-radius: 50%;
    color: #3F5FA2;
    margin: 10px 10px;
    font-size: 1.5rem;
    transition: 0.2s linear;
}

.social-links i:hover{
    scale: 1.3;
    color: black;
    background-color: #3F5FA2;
    filter: drop-shadow(0 0 10px #3F5FA2);
}

.content button{
    width: 100%;
    height: 6vh;
    margin: 30px;
    background-color: #3F5FA2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 550;
    transition: 0.2s ease-in;
    margin: 10px 0;
}

.content button:hover{
    background-color: transparent;
    color: #3F5FA2;
    border: 1px solid #3F5FA2;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideInLeft {
    from { transform: translateX(-100px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

@keyframes slideInRight {
    from { transform: translateX(100px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

@keyframes fadeInUp {
    from { transform: translateY(50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes zoomIn {
    from { transform: scale(0.9); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

.skill-set .detail-skill {
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 5px; 
    justify-items: center;
    margin-top: 0px;
}

.detail-skill img:nth-child(1),
.detail-skill img:nth-child(2) {
    grid-column: span 1; 
    grid-row: 1;
}

.detail-skill img:nth-child(n+3) {
    grid-column: span 1; 
    grid-row: 2;
}

.detail-skill .skill-icon {
    width: 50px;
    height: 50px;
    position: relative;
    opacity: 0;
    animation: random-fall 2s ease-out forwards;
}

.detail-skill img:nth-child(1) {
    animation: random-fall-left 2s ease-out forwards; 
}

.detail-skill img:nth-child(2) {
    animation: random-fall-right 2.2s ease-out forwards;
}

.detail-skill img:nth-child(3) {
    animation: random-fall-left-slow 2.5s ease-out forwards; 
}

.detail-skill img:nth-child(4) {
    animation: random-fall-right-fast 1.8s ease-out forwards;
}

.detail-skill img:nth-child(5) {
    animation: random-fall-center 2.3s ease-out forwards;
}

@keyframes random-fall-left {
    0% {
        opacity: 0;
        transform: translate(-100px, -150px) rotate(0deg); 
    }
    50% {
        opacity: 1;
        transform: translate(-50px, 100px) rotate(180deg); 
    }
    100% {
        transform: translate(0, 0) rotate(360deg);
        opacity: 1;
    }
}

@keyframes random-fall-right {
    0% {
        opacity: 0;
        transform: translate(100px, -150px) rotate(0deg); 
    }
    50% {
        opacity: 1;
        transform: translate(50px, 100px) rotate(180deg);
    }
    100% {
        transform: translate(0, 0) rotate(360deg);
        opacity: 1;
    }
}

@keyframes random-fall-left-slow {
    0% {
        opacity: 0;
        transform: translate(-80px, -180px) rotate(0deg);
    }
    50% {
        opacity: 1;
        transform: translate(-30px, 120px) rotate(180deg);
    }
    100% {
        transform: translate(0, 0) rotate(360deg);
        opacity: 1;
    }
}

@keyframes random-fall-right-fast {
    0% {
        opacity: 0;
        transform: translate(120px, -100px) rotate(0deg);
    }
    50% {
        opacity: 1;
        transform: translate(60px, 50px) rotate(180deg);
    }
    100% {
        transform: translate(0, 0) rotate(360deg);
        opacity: 1;
    }
}

@keyframes random-fall-center {
    0% {
        opacity: 0;
        transform: translateY(-200px) rotate(0deg); 
    }
    50% {
        opacity: 1;
        transform: translateY(100px) rotate(180deg);
    }
    100% {
        transform: translateY(0) rotate(360deg);
        opacity: 1;
    }
}

/* SECTION 2 */

.experience-section {
    padding: 50px 0;
    background: #f5f5f5;
    text-align: center;
    position: relative;
}

.experience-section .experience {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #0B162D;
}


.experience-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
}

.experience-card {
    background: linear-gradient(90deg, #FF5F7E 0%, #FF62A5 100%);
    border-radius: 15px;
    padding: 20px;
    width: 30%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.experience-card h3 {
    font-size: 24px;
}

.experience-card p {
    font-size: 18px;
    margin: 5px 0;
}

.experience-container::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 4px;
    background-color: #2c3e50;
    transform: translateX(-50%);
}

.experience-card::before {
    content: "";
    position: absolute;
    left: -7%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    background-color: #2a3e72;
    border-radius: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.timeline-line {
    position: absolute;
    left: 50%;
    width: 4px;
    height: 100%;
    background-color: #2a3e72;
    transform: translateX(-50%);
}

.experience-card:nth-child(odd)::before {
    content: "";
    position: absolute;
    right: 100%; 
    transform: translateX(50%);
    width: 30px;
    height: 30px;
    background-color: #2a3e72;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.experience-card:nth-child(even)::before {
    content: "";
    position: absolute;
    left: 100%; 
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    background-color: #2a3e72;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.experience-card:nth-child(odd) {
    margin-left: 52%; 
}

.experience-card:nth-child(even) {
    margin-right: 52%; 
}


/* Adjust timeline layout for smaller screens */
@media (max-width: 768px) {
    .experience-container{
        flex-direction: column;
    }
    .experience-card {
        justify-content: center;
        width: auto;
        margin:10px ;
    }

    .experience-card::before {
        left: 0px;
    }    

}

/* SECTION 3 */

.projects-section {
    background-color: #00326C;
    padding: 40px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.projects-section h1 {
    color: white;
}

.projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-card {
    border-radius: 10.042px;
    border: 1.004px solid #D9D9D9;
    background-color: #FFF;
    background: rgba(255, 255, 255, 0.01);
    box-shadow: 0px 2.687px 3.858px -2.48px rgba(116, 163, 255, 0.30) inset, 0px 0.482px 0.758px -0.276px #FFF inset, 0px -5.649px 4.685px -4.409px rgba(96, 68, 144, 0.30) inset, 0px 6.752px 6.89px -3.307px rgba(202, 172, 255, 0.30) inset, 0px 0.276px 1.24px 2.067px rgba(154, 146, 210, 0.25) inset, 0px 0.069px 2.756px 0px rgba(227, 222, 255, 0.20) inset;
    backdrop-filter: blur(5.863337516784668px);
    width: 320px;
    text-align: center;
    flex-shrink: 0;
    align-self: stretch;
    position: relative;
}

.project-card img {
    width: 100%;
    height: 230px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.project-card button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #3F5FA2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.project-card button:hover {
    background-color: #2a3e72;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 90%;
    margin: 0 auto;
}

.project-card h3 {
    margin-top: 5px;
    font-size: 1.5rem;
    color: #fff;
}

.project-card p {
    font-size: 1rem;
    color: #D9D9D9;
    margin: 15px 0;
}

.project-card button {
    background-color: #FF5F7E;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.project-card button:hover {
    background-color: #802134;
}

@media (max-width: 992px) {
    .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .projects-container {
        grid-template-columns: 1fr;
    }

    .project-card {
        width: 90%;
        margin: 0 auto;
    }
}

footer {
    background-color: #0B162D;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 14px;
}

.hamburger-checkbox {
    display: none;
}

.hamburg {
    display: none;
}

@media (max-width: 768px) {
    .hamburg {
        display: block; 
        cursor: pointer;
        font-size: 2rem;
        color: white;
    }
    .about-section h1{
        display: none;
    }
    .about-section .skill {
        display: none;
    }

    /* Initially hide the links */
    .links {
        display: none;
        flex-direction: column;
        background-color: #0B162D;
        width: 100%;
        position: absolute;
        top: 10vh;
        left: 0;
        text-align: center;
    }
    .hamburger-checkbox:checked + .hamburg + .links {
        display: flex;
    }
    .links a {
        padding: 10px;
        border-bottom: 1px solid #648add;
    }

    .links a:hover {
        background-color: #3F5FA2;
    }
}

